body {
    height: 880px;
    background-blend-mode: screen;
    background-blend-mode: multiply;
    background-blend-mode: overlay;
    background-blend-mode: darken;
    background-blend-mode: soft-light;
    background-blend-mode: luminosity;
    background: linear-gradient(red, transparent), linear-gradient(to top left, lime, transparent), linear-gradient(to top right, blue, transparent);
}

.ban_container {
    text-align: center;
    margin: 0 auto;
}

.ban {
    margin-top: 90px;
    max-width: 1200px;
}

@media (max-width: 967px) {
    body {
        background-color: blanchedalmond;
        max-height: 50px;
    }
    .ban {
        margin-top: 10px;
        width: 87%;
    }
    .ban img {
        width: 70px;
    }
}